body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image:url(back2.gif);
    padding: 0 20px;
    height: 60px;
}

.logo {
    color: white;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 1000;
    margin-left: 100px;
    letter-spacing:4px ;
    
   
}

.navbar {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    padding: 0 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(backe.avif);
    text-align: center;
    background-size: cover;
}

header h1 {
    font-size: 48px;
    margin: 0;
font-family: 'Times New Roman', Times, serif;
    color: rgb(173, 195, 8);
    letter-spacing: 10px;
  
    
}

header p {
    font-size: 20px;
    color: aliceblue;
    width: 1100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo:hover{
   
    
    font-size: 30px;
    
}


.navbar li a:hover {
    color: blue;
    text-decoration: underline;
}
header .img1 {
    height: 350px; 
    width: 400px;
   
   

}

.socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  
    border: 1px solid #008cff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
      0 0 100px #008cff;


}

.socialmedia img{
    height:50px ;
    width: 50px;
    gap: 1000px;
   }

   .socialmedia img:hover {
        transform: scale(1.1);
        transition: all 0.3s ease;
        cursor: pointer;
    }


@media screen and (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-image:url(back2.gif);
    }

    .navbar li {
        text-align: center;
        padding: 14px 0;
        width: 100%;
    }

    .burger {
        display: block;
    }

    .navbar.active {
        display: flex;
    }

    .burger.toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.toggle .line2 {
        opacity: 0;
    }

    .burger.toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}





